[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
isort = "*"

[dev-packages]
pylint = "*"
mlflow = "==2.14.0"
evidently = "==0.4.4"
boto3 = "*"
pytest = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
